html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Condensed";
}
div,
p,
li,
ul,
ol,
input,
textarea,
a,
embed,
table,
tbody,
thead,
tr,
td,
header,
footer,
nav,
aside,
article,
audio,
video {
  text-decoration: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  color: #626262;
  font-family: "Roboto Condensed";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
