doctype html5
html(lang="en")
  head
    title
    link(href="css/assets.css",type="text/css" rel="stylesheet")
    link(href="css/main.css",type="text/css" rel="stylesheet")
    link(href="css/theme.css",type="text/css" rel="stylesheet")
  body
    div.rsMainW
      header
        div.rsLogoW
        nav.rsNavW
          div.rsMobileTopW
          div.rsNavPlate
      div.rsSearchBox
      section.rsBodyW
      footer