doctype html5
html(lang="en")
  head
    title=title
    link(href="css/assets.css",type="text/css" rel="stylesheet")
    link(href="css/main.css",type="text/css" rel="stylesheet")
    link(href="css/theme.css",type="text/css" rel="stylesheet")
  body
    div
      div.maincontainer
         h1 Hello
         
         